/* google font and basics */
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: -15px;
}

.p {
    font-weight: 400;
    font-size: 16px;
}

.button {
    color: white;
    background-color: #DD0000;
    font-weight: 400;
    font-size: 20px;
    padding: 16px 25px;
    gap: 10px;
    border: 0;
    border-radius: 5px;
}

.container {
    color: aliceblue;
    display: flex;
    border: 1px solid red;
    justify-content: center;
    width: 1000px;
    height: 450px;
    padding-left: 50px;
    margin-left: 100px;
    background-color: #161616;
    border-radius: 30px;
    margin-top: 30px;
}

.marcelo {
    width: 581px;
    height: 700px;
    padding-top: 40px;
}

.great {
    padding-top: 18px;
    width: 531px;
    height: 424px;
}


/* section2 */
.box {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 220px;
    margin-top: 100px;
    background-color: #161616;
    padding: 10px;
    margin-left: 50px;
    margin-right: 24px;
    margin-top: 130px;
}

.boxbutton {
    margin-top: 15px;
    color: white;
    background-color: #DD0000;
    font-weight: 400;
    font-size: 14px;
    padding: 16px 25px;
    gap: 10px;
    border: 0;
    border-radius: 5px;
}

/* 3rd section with grid */
.section3 {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 130px;
    width: 984px;
    height: 1134px;
}

.gridelement {
    margin-right: 24px;
}

.gridelement img {
    width: 312px;
    height: 175px;
}

.link {
    text-decoration: none;
    color: #161616;

}

/* footer starts from here */
.footer {
    width: 100%;
    height: 444px;
    background-color: #161616;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footertext {
    display: flex;
    margin-left: 100px;
}

.footertext p {
    margin-right: 25px;
    font-weight: 500;
    font-size: 14px;
    color: #B9B9B9;
}

.footerdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    width: 900px;
    color: gray;
    opacity: 0.2;
}